.menu {
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    /* text-align: center; */
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.menu a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}	
